.container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #111;
  color: #fff;
  padding: 20px;
  position: fixed;
}

.content {
  margin-left: 250px;
  width: 100%;
}